body{
    min-height: 100%;
     background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 0%, #ff3f3f 0%, #ef47ba 45%, #ee4af7 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1e5799 0%,#ff3f3f 0%,#ef47ba 45%,#ee4af7 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1e5799 0%,#ff3f3f 0%,#ef47ba 45%,#ee4af7 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ee4af7',GradientType=0 ); /* IE6-9 */
background-repeat: no-repeat;
}
h1{
    margin-top: 40px;
    text-align: right;
    padding-right: 40px;
    text-transform: uppercase;
    font-size: 45px;
    color: white;
    text-shadow: 1px 1px 2px black;
}
.main{
    padding: 58px;
    text-align: center;
    min-height: 100%;
    margin-bottom: 200px;
}

.main h2{
    margin-top: 80px;
    font-size: 75px;
    text-shadow: 1px 1px 2px #020202;
    color: #251212;
}

.main p{
    margin-top: -55px;
    letter-spacing: 6px;
    text-align: center;
    text-shadow: 1px 1px 2px #bba37c;
    font-weight: bold;
}